body {
  margin: 0 auto;
  padding: 20px;
  background-image: url(img/walk.jpg);
  background-repeat: no-repeat;
  background-size: auto auto;
}

#inputForm {
   padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.form {
  margin: 10px;
}

h1 {
  color: #ff9900;
  text-shadow: 2px 2px #000;
  font-weight: 600;
}
