body {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  height: 70%;
}

#nav {
  margin: 10px;
}

select, textarea {
  border-radius: 3px;
  padding: 10px;
}

select {
  vertical-align: middle;
}

#output {
  border: black 2px solid;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  text-align: center justify;
  font-size: 1.7em;
}