body {
  margin: 0 auto;
  padding: 20px;
}

#navBar {
  position: fixed;
}

.dark {
  background-color: darkgray;
  color: white;
}

.large {
  font-size: 1.7em;
}

#messageBoard {
  margin: 0 auto;
  width: 90%;
  height: 1000px;
  border: 1px black solid;
}