body {
  margin: 0 auto;
}

#navBar {
  position: fixed;
  background: white;
  top: 0;
  padding: 20px;
  width: 100%;
  z-index: 100;
}

.dark {
  opacity: .6;
}

.large {
  font-size: 1.7em;
}

#messageContainer {
  margin: 175px auto 0;
}

#messageBoard {
  margin: 0 auto;
  padding: 20px;
  width: 90%;
  border: 1px lightgrey solid;
  border-radius: 5px;
}

.message, .col-xs-3 {
  padding: 5px;
  z-index: 1;
}

.buttons {
  display: inline;
  text-align: right;
}

.form-control {
  margin: 10px;
}

input[type=color] {
  border-radius: 50%;
  padding: 4px;
}

.darkBg {
  background: #222;
}
