body {
  margin: 0 auto;
}

#navBar {
  position: fixed;
  background: white;
  top: 0;
  padding: 20px;
  width: 100%;
  z-index: 100;
}

.dark {
  background-color: darkgray;
  color: white;
}

.large {
  font-size: 1.7em;
}

#messageContainer {
  margin: 175px auto 0;
}

#messageBoard {
  margin: 0 auto;
  padding: 20px;
  width: 90%;
  height: 1000px;
  border: 1px black solid;
}

.message, .col-xs-2 {
  padding: 5px;
  z-index: 1;
}